application/config/database.php
application/modules/FtpService/config/ftpservice.php
application/logs/*
/node_modules/*
/vendor/*
/system/*

# exclude everything
public/uploads/*

# exception to the rule
!public/ftpservice/uploads/.gitkeep 
/nbproject/*